@tailwind base;
@tailwind components;
@tailwind utilities;

/* loading */
@keyframes text-loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading-text {
  animation: text-loading 1.5s infinite;
}

.dot-1 {
  animation-delay: 0s;
}

.dot-2 {
  animation-delay: 0.3s;
}

.dot-3 {
  animation-delay: 0.6s;
}

@layer components {
  .container {
    @apply w-[1700px] h-full;
  }
  .btn {
    @apply w-[40px] h-[40px] rounded-full flex items-center justify-center active:dark:bg-dark_hover_1 hover:bg-dark_bg_1;
  }
  .input {
    @apply w-full dark:bg-dark_bg_2 p-1.5 dark:text-dark_text_1 rounded-lg flex-1 outline-none;
  }
}

/* conversation */
.convos {
  height: calc(100vh - 220px);
  overflow-y: auto;
  overflow-x: hidden;
}

.overflow_scrollbar {
  height: calc(100vh - 135px);
  overflow-y: auto;
  overflow-x: hidden;
}

/* emoji picker */
.epr-dark-theme {
  background: #202c33 !important;
  border-radius: 0 !important;
  border: none !important;
}

.epr-dark-theme {
  width: 100% !important;
}

.openEmojiAnimation {
  animation: openAn 0.1s forwards;
}

/* animation */
.rotateAnimation {
  animation: rotate 0.4s forwards !important;
}

.hview {
  height: calc(100vh - 300px);
}

@keyframes openAn {
  0% {
    transform: translateY(60px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-90deg);
  }
}
.callbg {
  background-image: linear-gradient(black, black),
    url(https://res.cloudinary.com/dmhcnhtng/image/upload/v1677358270/Untitled-1_copy_rpx8yb.jpg);
  background-size: cover;
  background-blend-mode: saturation;
}
.largeVideoCall {
  @apply absolute top-0 bottom-0 left-0 right-0 z-20 object-cover h-full bg-red-400 cursor-pointer;
}
.SmallVideoCall {
  @apply w-28 h-32 object-cover absolute bottom-4 right-2 z-30 bg-blue-500 cursor-pointer rounded-lg;
}
.moveVideoCall {
  @apply bottom-32 transition-all duration-100;
}
.moveActionsComp {
  @apply block;
}
.btn_secondary {
  @apply w-[45px] h-[45px] rounded-full flex items-center justify-center bg-dark_bg_2;
}
